@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 4rem 14rem;
}

h1 {
    /* border-color: red;
    border-style: solid;
    border-width: 1px; */

    font-weight: 700;
    font-size: 2rem;
    margin: auto 0 0.5rem 0;
}

h2 {
    /* border-color: red;
    border-style: solid;
    border-width: 1px; */
    
    font-weight: 400;
    font-size: 1rem;
    margin: auto 0 1rem 0;
}


div {
    /* border-color: red;
    border-style: solid;
    border-width: 1px; */

    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: black;
    border-radius: 0.75rem;

    padding: 0.75em 1em;
    margin: 0.15rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;

    cursor: pointer;
}

.accordion-description {
    border-radius: 0.75rem;
    border-color: black;
    border-width: 0.15rem;
    border-style: solid;

    padding: 1em;
    margin: 0.15rem 0;
}
